extends: relaxed

rules:
  line-length:
    max: 200
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
    check-keys: false
  document-start: disable
  quoted-strings: disable
